body /* Fond, taille et police sur le body */
{
	background-color:#92D6FF;
	font-family: Georgia,Times,serif;
	font-size: 15px;
}

h1 /* texte centré */
{
	text-align: center;
}

table /* bordure et fond sur tableau */
{
    border-collapse: collapse;
    background-color:#92D6FF;
}

td, th /* bordure et fond sur les td et les th */
{
    border: 1px solid black;
    background-color:#92D6FF;
}

button.accordion /* couleur,fond ect sur button accordion */
{
    background-color: #FFDE2E;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


button.accordion.active, button.accordion:hover /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
{
    background-color: #FFDE2E;
}

div.panel /* Style the accordion panel. Note: hidden by default */
{
    padding: 0 18px;
    background-color: #FFDE2E;
    display: none;
}

div.panel.show /* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
{
    display: block !important;
}